#Admin{
    background-color: #FF0063;
    color: #66BFBF;
    font-family: 'ubuntu','sans-serif';
}
body{
    background-color:#EAF6F6;
}
.container-fluid{
padding-top: 3%;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 3%;
}
.navbar-brand{

    font-size: 2.5rem;
}
.nav-item{
    font-size: 20px ;
    padding: 0 18px;
    
}
.nav-item a{
    color:white ;
}
body{
    font-family: 'ubuntu','sans-serif';
}

#pricing{
    padding: 100px;
    text-align: center;
}

.prising-col{
    padding: 3% 2%;
}

.card-header{
    background-color:#66BFBF ;
    color:white
}
.card-body{
    background-color: white;
}