#customer{
    background-color: #FF0063;
    color: #66BFBF;
    font-family: 'ubuntu','sans-serif';
}
.container-fluid{
padding-top: 3%;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 3%;
}
.navbar-brand{

    font-size: 2.5rem;
}
.nav-item{
    font-size: 20px ;
    padding: 0 18px;
    
}
.nav-item a{
    color:white ;
}
.form{
    padding: 5% 15% 5% 15%;
    font-family: 'ubuntu','sans-serif';
    
}
.button{
    margin-left: 65%;
}
.button1{
    margin-bottom: 15px;
    
}
.img1{
    width:80%;
    height: 40%;
    
}
.img2{
    width: 80%;
    height: 40%;
    margin-left: 30%;
}

.event-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
}

.event-list2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30% 5%;
}

button:hover{
    background-color: white !important;
    color: #FF0063 !important;
    border: 1px solid #FF0063 !important;
}

.two {
    display: none;
}

@media (max-width: 760px) {
    .event-list {
        display: inline-block;
        padding: 5% 10%;
    }
    .btns{
        display: flex;
        justify-content: space-between;
        padding: 10% 0px 0px 0px;
    }
    .img1{
        width:100%;
        
    }
    .img2{
        width: 100%;
        margin-left: 0%;
    }
    .one{
        display: none;
    }
    button{
        width: 100px;
    }
    }

button{
    width: 200px;
}
body{
    background-color: #EAF6F6;
}
img:hover {
    filter: blur(10px);
    transition: all 0.5s ease;
}
.event-date {
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 50%;
    left: 22%;
    z-index: 3;
    visibility: hidden;
    transition: all 0.5s ease;
}
