#Title{
    background-color: #FF0063;
    color: #66BFBF;
}
.container-fluid{
padding-top: 3%;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 3%;
}
.navbar{
   
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item{
    font-size: 20px ;
    padding: 0 18px;
    
}
.nav-item a{
    color:white ;
}
.button{
    display: flex;
    justify-content: end;
}
.content{
    padding-bottom: 5%;
}
.title-content{
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    margin: 0 15% 0 15%;
    height: 70vh;
    padding: 3%;
    background-image:url("/img/event.jpg");
    border-radius: 25px;
}

.tbutton {
    margin: 5px 10px;
}

#event {
    display: flex;
    align-items: center;
}

.eventbg {
    background-color: #66BFBF;
    height: 80vh;
    width: 25vw;
    margin: 10% 15%;
}

.eventimg {
    width: 50vw;
    /* height: 70%; */
    margin-left: -25%;
}

.carousel-inner {
    border-radius: 25px;
}
    
/* .title-image{
    text-align: center;
    padding-bottom: 5%;
    
}
.title-image,img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
} */